{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block references %}
	<link rel="stylesheet" href="{% static 'bible_track/css/style.css' %}" />
{% endblock %}

{% block content %}

<script type="text/javascript">
/****** START UP ******/
function isFirstYearCompleted(){
	return "66"=={{first_year_is_complete}};
}

//Daily Bible reading is default page. Second-year bible reading disabled for first-year trainees.
$( document ).ready(function() {
	//var activeYear = {{year}};
	//Disable Second-year tab for first-years?


});

/****** METHODS FOR DAILY BIBLE READING ******/


/****** METHODS FOR FIRST AND SECOND YEAR BIBLE READING ******/
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }	
	
function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }
    document.body.appendChild(form);
    form.submit();
}

function modify_boxes(classname){
	var x = document.getElementsByClassName(classname)[0];
    x.setAttribute("checked", "true");
} 
var first_year_progress = {{first_year_progress}};
var second_year_progress = {{second_year_progress}};
function toggleCheckbox(classname, id, year) {
	if (document.getElementsByClassName(classname)[0].checked == true ){
		$.ajax({
			type:"POST",
			url: "{% url 'bible_track:index' %}",
			data: {
					'book':id,
					'year': year,
					'checked': true,
					csrfmiddlewaretoken: getCookie('csrftoken')
				  },
			success: function(data){
				$('#message').html("<h4>BIBLE SUPER SAVED : {{first_year_progress}}" +data+"</h4>");
				if(year==1) {
					$("#first-year-prog").css("width", data+"%");
					$("#first-year-prog").html(data+"%");
					$("#first-year-prog").attr("aria-valuenow", data);
				} else if(year==2) {
					$("#second-year-prog").css("width", data+"%");
					$("#second-year-prog").html(data+"%");
					$("#second-year-prog").attr("aria-valuenow", data);
				}
			}
		});		
    } else {
	  $.ajax({
		type:"POST",
		url: "{% url 'bible_track:index' %}",
		data: {
				'book':id,
				'year': year,
				'checked': false,
				csrfmiddlewaretoken: getCookie('csrftoken')
			  },
		success: function(data){
			$('#message').html("<h4>BIBLE SUPER DELETED: {{first_year_progress}}</h4>");
			if(year==1) {
				$("#first-year-prog").css("width", data+"%");
				$("#first-year-prog").html(data+"%");
				$("#first-year-prog").attr("aria-valuenow", data);
			} else if(year==2) {
				$("#second-year-prog").css("width", data+"%");
				$("#second-year-prog").html(data+"%");
				$("#second-year-prog").attr("aria-valuenow", data);
			}
		}
	});	
		
	}
		
} 

</script>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 25px;">
  <li role="presentation" class="active"><a href="#daily-bible-reading" aria-controls="home" role="tab" data-toggle="tab">Daily Reading</a></li>
  <li role="presentation"><a href="#first-year-bible-reading" aria-controls="profile" role="tab" data-toggle="tab">First Year</a></li>
  <li role="presentation"><a href="#second-year-bible-reading" aria-controls="messages" role="tab" data-toggle="tab">Second Year</a></li>
</ul>

<!-- TAB PANES -->
<div class="tab-content">
	<!-- DAILY BIBLE READING -->
	<div id="daily-bible-reading" class="bible-reading tab-pane active" role="tabpanel" >
		<form name="dailyBibleReading" id="dailyBibleReadingEntry" method="post" action="">
	    	<input type="hidden" name="traineeID" value="">
			<!-- Pick a week of a term -->
			<b>Week Of: </b>
			<select id="select_menu" class="form-control" name="week" size="0" onchange="this.form.submit()">
				{% for choice in bible_book_list %}
					<option value='0'>Week 0: Feb 16 &mdash; Feb 22</option>
				{% endfor %}
			</select>
			<br><br>

			<!-- Description -->
			<p>Valid Statuses: <b><u>C</u></b>ompleted, <b><u>M</u></b>ake-up, <b><u>N</u></b>ot Read</p>
	    	<p>C: I <b>completed</b> 20 minutes of Bible reading for selected date. <br>
	    	M: I <b>made up</b> 20 minutes of Bible reading for selected date. <br>
	   		 N: I did <b>not</b> complete 20 minutes of Bible reading for selected date.</p><br>

	   		<!-- Bible Reading Table --> 


	   		<!-- Save and Finalize buttons -->
	   		<input class="btn btn-default" type="submit" name="save" value="Save" />
            <input class="btn btn-default" disabled="disabled" type="submit" name="finalize" Value="Finalize" onClick="javascript:return confirm('Are you sure you want to finalize?')">
	   	</form>
	</div>

	<!-- FIRST YEAR BIBLE READING PAGE -->
	<div id="first-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
	  <div class="progress">
	  <div id="first-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{first_year_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{first_year_progress}}%;">{{first_year_progress}}%</div>
	 </div>
		<div class = "old-testament">
		<h4>Old Testament {{ current_time }}</h4>
		{% for choice in bible_book_list|slice:":39" %}
			<input class="first-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('first-year{{choice.id}}', {{choice.id}}, 1)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
			<label style="font-weight: normal" for="choice{{ forloop.counter }}">{{ choice.toString }}</label><br />
		{% endfor %}
		</div>
		<div class = "new-testament">
		<h4>New Testament</h4>
		{% for choice in bible_book_list|slice:"39:" %}
			<input class="first-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('first-year{{choice.id}}', {{choice.id}}, 1)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
			<label style="font-weight: normal" for="choice{{ forloop.counter }}"> {{ choice.toString }} </label><br />
		{% endfor %}
		</div>
	</div>

	<!-- Checking First-year boxes -->
	{% for checked in first_year_checked_list %}
		<script>
			modify_boxes("first-year{{checked.book.id}}");
	    </script>
	{% endfor %}

	<!-- SECOND YEAR BIBLE READING PAGE -->
	<div id="second-year-bible-reading" class="bible-reading tab-pane" role="tabpanel">
		<div class="progress">
	  <div id="second-year-prog" class="progress-bar" role="progressbar" aria-valuenow="{{second_year_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{second_year_progress}}%;">{{second_year_progress}}%</div>
	 </div>
		<div class = "new-testament">
		<h4>New Testament</h4>
		{% for choice in bible_book_list|slice:"39:" %}
			<input class="second-year{{choice.id}}" type="checkbox" onchange="toggleCheckbox('second-year{{choice.id}}', {{choice.id}}, 2)" name="book" id="{{ choice.id }}" value="{{ choice.id }}" />
			<label style="font-weight: normal" for="choice{{ forloop.counter }}">{{ choice.toString }}</label><br />
		{% endfor %}
		</div>
	</div>

	<!-- Checking Second-year boxes -->
	{% for checked in second_year_checked_list %}
		<script>
			modify_boxes("second-year{{checked.book.id}}");
	    </script>
	{% endfor %}
</div>

<div id="message" style="float:left"></div>
{% endblock %}
